TAP_CONCUR_CLIENT_ID=your_client_id
TAP_CONCUR_CLIENT_SECRET=your_client_secret
TAP_CONCUR_REFRESH_TOKEN=your_refresh_token
TAP_CONCUR_USERNAME=your_company_uuid
TAP_CONCUR_PASSWORD=your_at_token
TAP_CONCUR_API_URL=https://us.api.concursolutions.com
TAP_CONCUR_START_DATE=2020-01-01T00:00:00Z
